version = "1.0"

[main]
name = "Synapse configuration"

    [main.config]
    name = "Configuration Options"

            [main.config.server_statistics]
            ask = "Server statistics"
            type = "boolean"
            yes = true
            no = false
            help = "Set to 'true' to send anonymous statistics to Synapse to improve performance."

            [main.config.is_free_registration]
            ask = "Free registration"
            type = "boolean"
            yes = true
            no = false
            help = "A public server means that anybody will be able to register on this server."

            [main.config.allow_public_rooms]
            ask = "Public rooms directory"
            type = "boolean"
            yes = true
            no = false
            help = "If set to 'false', requires authentication to access the server's public rooms directory through the client API and forbids any other homeserver to fetch the server's public rooms directory via federation."

    [main.client_config]
    name = "Matrix client configuration"

        [main.client_config.jitsi_server]
        ask = "Jitsi server address"
        type = "string"
        default = 'jitsi.riot.im'
        help = "Jitsi server address for the conference. Note that this is only for conferences in rooms with more than 2 people. With 2 people, the stun/turn server is used."
        
        [main.client_config.e2e_enabled_by_default]
        ask = "End to end encryption by default for direct messages"
        type = "boolean"
        yes = true
        no = false
        help = "By default, Element will create encrypted DM rooms if the user you are chatting with has keys uploaded on their account. For private room creation, Element will default to encryption on but give you can disable this settings here."

    [main.package_config]
    name = "Package configuration"

        [main.package_config.backup_before_upgrade]
        ask = "Backup before upgrade"
        type = "boolean"
        yes = true
        no = false
        help = "Set to 'true' to back up before each upgrade."
